# Nvim
# Ignore packer compiled plugins
nvim/.config/nvim/plugin/**
shared/config/nvim/.config/nvim/lazy-lock.json

lazygit/.config/lazygit/state.yml

# Ignore .uuid files generated in fonts
.uuid

# Easyeffects files to ignore
**/easyeffects/db/

# Gimp
# Ignore everything in .config/GIMP
**/GIMP/*/*

# But keep these specific items regardless of version subfolder
!**/GIMP/*/themes/
!**/GIMP/*/theme.css
