/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

/*
Arc-Dark Color Scheme
*/
@keyframes blink-warning {
  70% {
    color: #edbdd2;
  }

  to {
    color: #edbdd2;
    background-color: #fe8019;
  }
}

@keyframes blink-critical {
  70% {
    color: #edbdd2;
  }

  to {
    color: #edbdd2;
    background-color: #fb4934;
  }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  font-family: Ubuntu Mono Nerd Font;
  /* font-family: Jet Brains Mono Nerd Font; */
  border-radius: 0;
  min-height: 0;
  margin: 0px;
  padding: 0px;
}

/* The whole bar */
window#waybar {
  /* background-color: rgba(29, 32, 33, 0.5); */
  background: transparent;
  font-size: 16px;
  color: #458588;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 10px 10px 4px 10px;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  background: black;
  /* border: 2px solid #11111b; */
}

/* Every module with background */
#clock,
#tray,
#idle_inhibitor,
#workspaces,
#cava,
#pulseaudio,
#memory,
#cpu,
#network,
#battery,
#backlight,
#custom-keyboard-layout,
#mode,
#custom-weather,
#temperature,
#window,
#custom-power,
#custom-media,
#custom-PBPbattery {
  margin: 0;
  padding: 4px 15px;
  background-color: rgba(29, 32, 33, 0.8);
  border-radius: 15px;
}

/* -----------------------------------------------------------------------------
 * Modules styles
 * -------------------------------------------------------------------------- */

/* Left module */

#clock {
  color: #ebdbb2;
  margin-right: 10px;
}

#tray {
  margin-right: 10px;
}

#tray menu {
}

#tray menu > *:hover {
}

#idle_inhibitor {
  margin-right: 10px;
}

/* Center module */

#workspaces button {
  border-bottom: 2px solid transparent;
  /* margin-bottom: 0px; */
  /* color: #dfdfdf; */
  /* border-radius: 20px; */
  /* color: #458588; */
  padding: 0 4px;
  margin: 0 4px;
  color: #ebdbb2;
}

#workspaces button label {
}

#workspaces button.active {
  /* color: #fe8019; */
  /* background: #1a7cda; */
  font-weight: bold;
  border-bottom: 2px solid #d65d0e;
  /* margin-bottom: 1px; */
  /* padding-left: 0; */
}

#workspaces button.focused {
  /* color: #a6adc8; */
  /* background: #eba0ac; */
}

#workspaces button:hover {
  background: #3c3836;
}

#workspaces button.urgent {
  color: #fb4934;
}

/* Right module */

#cava {
  border-radius: 15px 0 0 15px;
}

#pulseaudio {
  border-radius: 0;
  padding-left: 0;
}

#pulseaudio.muted {
  color: #665c54;
}

#pulseaudio.microphone {
  border-radius: 0 15px 15px 0;
  margin-right: 10px;
}

#pulseaudio.microphone.muted {
  color: #665c54;
}

#memory {
  border-radius: 15px 0 0 15px;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#memory.warning {
  color: #fe8019;
}

#memory.critical {
  color: #fb4934;
  animation-name: blink-critical;
  animation-duration: 2s;
  padding-left: 5px;
  padding-right: 5px;
}

#cpu {
  border-radius: 0 15px 15px 0;
  margin-right: 10px;
  padding-left: 0;
}

#cpu.warning {
  color: #fe8019;
}

#cpu.critical {
  color: #fb4934;
}

/* Unused */

#keyboard-state label {
  opacity: 0;
}

#keyboard-state label.numlock.locked {
  opacity: 1;
}

#keyboard-state label.capslock.locked {
  opacity: 1;
}

#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning {
  color: #fe8019;
}

#battery.critical {
  color: #fb4934;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#mode {
  /* background: @highlight; */
  /* background: #dfdfdf; */
  border-bottom: 3px transparent;
  color: #ff4499;
  margin-left: 5px;
  padding: 7px;
}

#network.disconnected {
  color: #fe8019;
}

#temperature.critical {
  color: #fb4934;
}

#window {
  color: #ebdbb2;
  /* font-weight: bold; */
}

#custom-media {
  /* color: #bb9af7; */
}

#custom-power {
  /* font-size: 18px; */
  /* padding-right: 1rem; */
}

#custom-launcher {
  /* font-size: 15px; */
  /* margin-left: 15px; */
  /* margin-right: 10px; */
}

#backlight.icon {
  /* padding-right: 1px; */
  /* font-size: 13px; */
}
