/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

/*
Arc-Dark Color Scheme
*/
@keyframes blink-warning {
  70% {
    color: #edbdd2;
  }

  to {
    color: #edbdd2;
    background-color: #fe8019;
  }
}

@keyframes blink-critical {
  70% {
    color: #edbdd2;
  }

  to {
    color: #edbdd2;
    background-color: #fb4934;
  }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0px;
  padding: 0px;
}

/* The whole bar */
window#waybar {
  background-color: rgba(29, 32, 33, 0.5);
  /* border-radius: 20px; */
  font-family: JetBrains Mono Nerd Font;
  /* font-family: Intel One Mono Nerd Font; */
  font-size: 14px;
  color: #458588;
}

.modules-left,
.modules-center,
.modules-right {
  /* background-color: rgba(0, 0, 0, 0.7); */
  /* border-radius: 20px; */
  padding: 8px 20px;
}

.modules-left .module {
  margin-right: 20px;
}
.modules-right .module {
  margin-left: 20px;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border: 2px solid #11111b;
}

/* Every modules */
#battery,
#clock,
#backlight,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#custom-weather,
#network,
#cava,
#pulseaudio,
#temperature,
#tray,
#idle_inhibitor,
#window,
#custom-power,
#workspaces,
#custom-media,
#custom-PBPbattery {
  /* padding: 0.25rem 0.75rem; */
  /* margin: 1px 6px; */
  /* background-color: rgba(0, 0, 0, 0.8); */
  /* border-radius: 20px; */
}

/* -----------------------------------------------------------------------------
 * Modules styles
 * -------------------------------------------------------------------------- */

#clock {
  color: #ebdbb2;
  /* color: #7c6f64; */
}

#keyboard-state label {
  opacity: 0;
}

#keyboard-state label.numlock.locked {
  opacity: 1;
}

#keyboard-state label.capslock.locked {
  opacity: 1;
}

#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning {
  color: #fe8019;
}

#battery.critical {
  color: #fb4934;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#cpu {
  /* color: #8ec07c; */
}

#cpu.warning {
  color: #fe8019;
}

#cpu.critical {
  color: #fb4934;
}

#memory {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* color: #8ec07c; */
}

#memory.warning {
  color: #fe8019;
}

#memory.critical {
  color: #fb4934;
  animation-name: blink-critical;
  animation-duration: 2s;
  padding-left: 5px;
  padding-right: 5px;
}

#mode {
  /* background: @highlight; */
  /* background: #dfdfdf; */
  border-bottom: 3px transparent;
  color: #ff4499;
  margin-left: 5px;
  padding: 7px;
}

#network.disconnected {
  color: #fe8019;
}

#pulseaudio {
  /* color: #bb9af7; */
}

#pulseaudio.muted {
  color: #665c54;
}

#pulseaudio.microphone {
}

#pulseaudio.microphone.muted {
  color: #665c54;
}

#temperature.critical {
  color: #fb4934;
}

#window {
  color: #ebdbb2;
  /* font-weight: bold; */
}

#custom-media {
  /* color: #bb9af7; */
}

#workspaces button {
  /* border-bottom: 3px solid transparent; */
  /* margin-bottom: 0px; */
  /* color: #dfdfdf; */
  /* border-radius: 20px; */
  /* color: #458588; */
  color: #ebdbb2;
}

#workspaces button.active {
  /* color: #fe8019; */
  /* background: #1a7cda; */
  font-weight: bold;
  border-bottom: 1px solid #d65d0e;
  /* margin-bottom: 1px; */
  /* padding-left: 0; */
}

#workspaces button.focused {
  /* color: #a6adc8; */
  /* background: #eba0ac; */
}

#workspaces button:hover {
  background: #3c3836;
}

#workspaces button.urgent {
  color: #fb4934;
}

#custom-power {
  /* font-size: 18px; */
  /* padding-right: 1rem; */
}

#custom-launcher {
  /* font-size: 15px; */
  /* margin-left: 15px; */
  /* margin-right: 10px; */
}

#backlight.icon {
  /* padding-right: 1px; */
  /* font-size: 13px; */
}
