/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

/*
Arc-Dark Color Scheme
*/
@keyframes blink-warning {
  70% {
    color: #edbdd2;
  }

  to {
    color: #edbdd2;
    background-color: #fe8019;
  }
}

@keyframes blink-critical {
  70% {
    color: #edbdd2;
  }

  to {
    color: #edbdd2;
    background-color: #fb4934;
  }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  /* font-family: Ubuntu Mono Nerd Font; */
  /* font-family: Jet Brains Mono Nerd Font; */
  font-family: Adwaita Mono Nerd Font;
  border-radius: 0;
  min-height: 0;
  margin: 0px;
  padding: 0px;
}

/* The whole bar */
window#waybar {
  /* background-color: rgba(29, 32, 33, 0.5); */
  background: transparent;
  font-size: 14px;
  /* color: #ebdbb2; */
  color: #458588;
  /* color: #b16286; */
  /* color: #689d6a; */
}

tooltip {
  background: #1d2021;
  border-radius: 10px;
}

tooltip label {
  color: #d5c4a1;
  margin: 4px 8px;
}

menu {
  background-color: #1d2021;
  border-color: #3c3836;
  padding: 4px 0px;
}

menuitem {
  color: #d5c4a1;
  padding: 6px 12px;
}

menuitem:disabled {
  color: #504945;
}

separator {
  background-color: #3c3836;
  margin: 0 1px;
  /* min-height: 1px; */
}

.modules-left,
.modules-center,
.modules-right {
  padding: 6px 10px 0px 10px;
}

/* Every module with background */
#custom-power,
#clock,
#tray,
#idle_inhibitor,
#workspaces,
#cava,
#pulseaudio,
#wireplumber,
#memory,
#cpu,
#temperature,
#network,
#battery,
#upower,
#backlight,
#custom-keyboard-layout,
#mode,
#custom-weather,
#window,
#custom-media {
  margin: 0;
  padding: 4px 14px;
  background-color: rgba(29, 32, 33, 0.9);
  border-radius: 14px;
}

/* -----------------------------------------------------------------------------
 * Modules styles
 * -------------------------------------------------------------------------- */

/* Left module */
#custom-power {
  margin-right: 10px;
  padding-left: 12px;
  padding-right: 15px; /* icon doesn't take up space so the padding is unevent */
}

#clock {
  color: #ebdbb2;
  margin-right: 10px;
}

#custom-weather {
  color: #ebdbb2;
  margin-right: 10px;
}

#tray {
  margin-right: 10px;
}

#tray menu {
}

#tray menu > *:hover {
}

#idle_inhibitor {
  margin-right: 10px;
  padding-left: 12px;
  padding-right: 12px;
}

/* Center module */
#workspaces {
  padding: 2px 14px;
}

#workspaces button {
  border-bottom: 2px solid transparent;
  padding: 2px 8px;
  margin: 0;
  border-radius: 50%;
  color: #ebdbb2;
}

#workspaces button label {
}

#workspaces button.active {
  font-weight: bold;
  color: #fabd2f;
}

#workspaces button.focused {
  /* color: #a6adc8; */
  /* background: #eba0ac; */
}

#workspaces button:hover {
  background: #3c3836;
}

#workspaces button.urgent {
  color: #fb4934;
}

/* Right module */

#custom-indicator {
  margin: 0;
  padding: 0px 0px 4px 0px; /* Remove top padding to allow taller characters */
  border-radius: 14px;
  color: #b8bb26;
}

#custom-screencast {
  margin: 0;
  padding: 4px 14px;
  border-radius: 14px;
  margin-right: 10px;
  color: #fb4934;
  /* color: #b8bb26; */
}

#cava {
  color: #689d6a;
  background-color: rgba(0, 0, 0, 0);
  margin-right: 15px;
}

#wireplumber {
  color: #689d6a;
  border-radius: 14px 0 0 14px;
  /* padding-left: 0; */
}

#pulseaudio {
  color: #689d6a;
  border-radius: 14px 0 0 14px;
}

#pulseaudio.muted,
#wireplumber.muted {
  /* color: #665c54; */
}

#pulseaudio.microphone {
  color: #689d6a;
  border-radius: 0 14px 14px 0;
  margin-right: 10px;
  padding-left: 0;
}

#pulseaudio.microphone.muted {
  /* color: #665c54; */
}

#memory {
  color: #b16286;
  border-radius: 14px 0 0 14px;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#memory.warning {
  color: #fe8019;
}

#memory.critical {
  color: #fb4934;
  animation-name: blink-critical;
  animation-duration: 2s;
}

#cpu {
  color: #b16286;
  border-radius: 0;
  padding-left: 0;
}

#cpu.warning {
  color: #fe8019;
}

#cpu.critical {
  color: #fb4934;
}

#temperature {
  color: #b16286;
  border-radius: 0 14px 14px 0;
  margin-right: 10px;
  padding-left: 0;
}

#temperature.critical {
  color: #fb4934;
}

#keyboard-state label {
  opacity: 0;
}

#keyboard-state label.numlock.locked {
  opacity: 1;
}

#keyboard-state label.capslock.locked {
  color: #fabd2f;
  opacity: 1;
}

#backlight {
  border-radius: 14px 0 0 14px;
  padding-right: 0px;
}

#battery,
#upower {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  margin-right: 10px;
  border-radius: 0 14px 14px 0;
}

#upower.charging {
  color: #98971a;
}

#upower.unkown-status {
  color: #fb4934;
}

#battery.warning {
  color: #fe8019;
}

#battery.critical {
  color: #fb4934;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#mode {
  /* background: @highlight; */
  /* background: #dfdfdf; */
  border-bottom: 3px transparent;
  color: #ff4499;
  margin-left: 5px;
  padding: 7px;
}

#network.ethernet {
  /* Extra padding for ethernet as the icon takes more than reserved width */
  padding-left: 12px;
  padding-right: 15px;
}

#network.disconnected {
  color: #fe8019;
}

#window {
  color: #ebdbb2;
  /* font-weight: bold; */
}

#custom-media {
  /* color: #bb9af7; */
}

#backlight.icon {
  /* padding-right: 1px; */
  /* font-size: 13px; */
}
